<!-- views/connect-local.ejs -->
<% layout('layout') %>

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-user"></span> Add Local Account</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/connect/local" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Add Local</button>
	</form>

	<hr>

	<p><a href="/profile">Go back to profile</a></p>

</div>